
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Doclist</title>
</head>
<body>
    <h1>Doclist</h1>

    {% for collection in collections %}
        <h2>{{ collection.name|safe}}</h2>
    {% endfor %}

    <form method="POST" action="{% url 'add-collection'%}">
        {% csrf_token %}

        <input type="text" name="collection-name">
        <button type="submit">Add</button>

    </form>
</body>


 <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</html>